<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{f:translate(key:'label.no_presets_available.header')}</h2>
                    <p class="card-text">{f:translate(key:'label.no_presets_available.desc')}</p>

                    <div class="alert alert-info text-start mt-4">
                        <strong>{f:translate(key:'label.how_to_create_presets.header')}</strong>
                        <ol class="mb-0 mt-2">
                            <li>{f:translate(key:'label.how_to_create_presets.step1')}</li>
                            <li>{f:translate(key:'label.how_to_create_presets.step2')}</li>
                            <li>{f:translate(key:'label.how_to_create_presets.step3')}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>