<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">No Copy Presets Available</h2>
                    <p class="card-text">There are currently no copy presets configured in your TYPO3 installation.</p>

                    <div class="alert alert-info text-start mt-4">
                        <strong>How to create copy presets:</strong>
                        <ol class="mb-0 mt-2">
                            <li>Create a new page with page type "Copy Preset Page" (doktype 200)</li>
                            <li>Add content elements to this page that you want to use as templates</li>
                            <li>These elements will then appear in this wizard for quick copying</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>